body {
  background-color: pink;
}

header h1 {
  border: 3px dotted darkviolet;
  border-width: 200px;
  padding: 15px;
  text-align: center;
  color: purple;
  font-size: 60px;
}

img {
  display: block;
  margin: 50px auto;
  width: 50%;
  border: 5px dashed cyan;
}

article {
  text-align: center;
}

.topheader {
  padding: 10px 15px;
  color: green;
  border: 5px solid rebeccapurple;
  display: inline;
  background-color: navajowhite;
}

h2 {
  color: darkorange;
  display: inline;
  border: 3px solid green;
  background-color: navajowhite;
}

h3 {
  color: hotpink;
  border: 3px dotted red;
  background-color: lightblue;
  display: inline;
  margin: 40px auto;
}

p {
  color: darkorange;
}

ul {
  list-style-position: inside;
  color: purple;
}

footer {
  text-align: center;
}

.footer {
  color: red;
  border: 3px dashed purple;
  background-color: blanchedalmond;
  display: inline;
  text-align: center;
  margin: 40px auto;
  padding: 10px;
}